.modal::-webkit-scrollbar
    width: 3px
.modal::-webkit-scrollbar-thumb
    background: $orange
    border-radius: 10px
.modal
    overflow-y: scroll
    overflow-x: hidden
    padding: 2rem
    opacity: 0
    visibility: hidden
    position: fixed
    top: 2vh
    left: 5vw
    width: 90vw
    height: 96vh
    background: $black_3
    z-index: 11
    +flex(start, center, column nowrap)
    row-gap: 3rem
    transition: all 200ms ease-in-out

    .modal-btnClose
        position: fixed
        top: .5rem
        left: 5.5rem
        font-size: 3rem
        border: none
        +flex(center, center, row nowrap)
        opacity: 0.8
        cursor: pointer
        color: $orange
        background: none
        transition: all 200ms ease-in-out
        &:hover
            opacity: 1
    .modal-header
        +flex(center,center, column nowrap)
        row-gap: 0.5rem
        picture
            width: 10rem
            height: 10rem
            img
                width: 100%
                height: 100%
        h2
            color: $orange
            font-size: 2rem
    .modal-section
        width: 90%
        +flex(start, start, column nowrap)
        row-gap: 2rem
        font-size: 1.5rem
        &>*
            +flex(start, start, column nowrap)
            row-gap: .5rem
        div
            padding: 0 0 0 1rem
            border-left: solid thin rgba($orange, .5)  
        h3
            font-size: 1.8rem
        ul
            list-style: none
        a
            color: $orange
        
    .modal-btnStatus
        border: none
        outline: none
        background: none
        cursor: pointer
        transition: all 200ms ease
        color: rgba($white_1, .5)
        &:hover
            color: $white_1
        &.active
            color: rgba($orange, .5)
            &:hover
                color: $orange
                
.modal.active
    visibility: visible
    opacity: 1

body.light .modal::-webkit-scrollbar-thumb
    background: $blue
body.light .modal
    background: $white_1
    .modal-btnClose
        color: $blue
    .modal-header
        h2
            color: $blue
    .modal-section
        div
            border-left: solid thin rgba($blue, .5)  
        a
            color: $blue
    .modal-btnStatus
        color: rgba($black_3, .5)
        &:hover
            color: $black_3
        &.active
            color: $blue
    &::after
        background: rgba($white_1, .6)
